<!DOCTYPE html>
<html lang="en">
<head>
    <title>roks.me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

</head>
<body>
<main class="container">
  <h1>upcoming shows</h1>
  <nav>
    <ul>
      <li><a href="/index.html">
        {% if county == "all" %}
          <mark>all</mark>
        {% else %}
          all
        {% endif %}
      </a></li>
      <li><a href="/durham.html">
        {% if county == "durham" %}
        <mark>durham</mark>
        {% else %}
          durham
        {% endif %}
      </a></li>
      <li><a href="/orange.html">
        {% if county == "orange" %}
        <mark>orange</mark>
        {% else %}
          orange
        {% endif %}
      </a></li>
      <li><a href="/wake.html">
        {% if county == "wake" %}
        <mark>wake</mark>
        {% else %}
          wake
        {% endif %}
      </a></li>
    </ul>
  </nav>
  <table class="striped">
  {% for item in events %}
    <tr><td>
    <div class="event">
      <div class="info_url">
      <a href="{{ item.more_url }}">{{ item.event_string }}</a></div>
      <div class="date">
      {{ item.human_date }}</div>
      <div class="venue">
      <a href="{{ item.venue_url }}">{{ item.venue_name }}</a></div>
    </div>
    </td></tr>
  {% endfor %}
</table>
<hr>
<small>{{ today }}</small>
</main>
</body>
</html>
